.imglogoRadio {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: centers;
}

.tituloReproductor {
    display: flex;
    place-content: center;
}

.imglogo{
    margin-left: 15px;
}
.btnVer{
    margin-top: 10px;
}
.botonesDescarga{
    display: flex;
    justify-content: center;
    align-items: center;
}
