.imglogoRadio {
    width: 80%;
    display: flex;
    place-content: center;
}
.logoRadio {
    display: flex;
    place-content: center;
}
.tituloReproductor {
    display: flex;
    place-content: center;
}

.imglogo{
    margin-left: 15px;
}